:root {
    --textWhite : #ffffff;
    --textlightGrey : #666666;
    --textOrange : #FF7B25;
    --textGreen : #00CC00;
    --textRed : #FF3300;
    --textBlue : #1FBFF1;
}

.labelText {
    text-align: end;
    font-weight: bold;
}
.orange {
    color: var(--textOrange);
}
.grey {
    color: var(--textlightGrey);
}
.red {
    color: var(--textRed);
}
.green {
    color: var(--textGreen);
}
.blue {
    color: var(--textBlue);
}