.header {
  background-color: var(--black-color);
  padding: 20px 10px;
}
.logo {
  color: var(--orange-color);
}
.linkContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.linkContainer > :not(:last-child) {
  margin-right: 16px;
}
.selectedLink {
  border-bottom: 1px solid var(--orange-color);
}
.defaultLink {
  color: var(--white-color);
}
.dm {
  color: var(--white-color);
}
.signin {
  display: flex;
  justify-content: flex-end;
  color: var(--white-color);
}
.banner {
  background-color: var(--orange-color);
  font-size: 16px;
  padding: 10px;
}
.headerButton {
  color: var(--white-color);
  background: var(--black-color);
  box-shadow: none;
  border: none;
}
.phoneNumber {
  width: 100%;
  margin-bottom: 20px;
}
