.date {
  color: var(--grey-color);
  font-size: 22px;
  margin-bottom: 10px;
}
.time {
  color: var(--black-color);
  font-size: 18px;
}
.place {
  color: var(--black-color);
  font-size: 14px;
  margin-bottom: 4px;
}
.infoContainer {
  display: flex;
  font-size: 10px;
  color: var(--grey-color);
}
.info {
  margin-right: 4px;
  font-size: 12px;
}
.alignRight {
  display: flex;
  justify-content: flex-end;
}
