.divider {
  margin: 4px 0 8px 0;
}

.matchListContainer {
  margin-bottom: 20px;
}

.dateTitle {
  font-size: 20px;
  padding: 8px 0;
  color: var(--grey-color);
}

.matchlistTitle {
  display: flex;
  justify-content: space-between;
}

.loadingContainer {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
