.playerContainer {
  display: flex;
}

.playerName {
  margin-right: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerDetail {
  color: var(--grey-color);
  font-size: 10px;
}
