.playerContainer {
  display: flex;
}

.playerName {
  margin-right: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttonContainer > :not(:last-child) {
  margin-right: 10px;
}

.playerDetail {
  color: var(--grey-color);
  font-size: 10px;
}
