.signUp {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 10px;
}
.signUpContainer {
  margin-bottom: 20px;
}
.signUpContainer .row {
  margin-bottom: 8px;
}
.signUpTitle {
  font-size: 12px;
}
.signUpSubtitle {
  color: var(--grey-color);
}
.signUpButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.signUpSelect {
  width: 120px;
}
