:root {
  --white-color: #ffffff;
  --grey-color: #666666;
  --orange-color: #ff7b25;
  --green-color: #00cc00;
  --red-color: #ff3300;
  --blue-color: #1fbff1;
  --black-color: #000000;
}

.divider {
  margin: 4px 0 8px 0;
}
